*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#f4f7fb;
  color:#222;
  line-height:1.6;
}

/* Animation */
.container {
  animation: slideUp 0.8s ease-out;
}

h1 {
  animation: slideUp 0.6s ease-out;
}

p {
  animation: slideUp 0.9s ease-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Header */
header{
  background:#1428e2;
  color:white;
  padding:30px;
  text-align:center;
}

/* Navigation */
nav{
  background:#1565c0;
  padding:15px;
  text-align:center;
}

nav a{
  color:white;
  text-decoration:none;
  margin:0 15px;
  font-weight:bold;
}

nav a:hover{
  color:rgba(105, 6, 6, 0.753);
}

/* Hero */
.hero{
  background:url('https://images.unsplash.com/photo-1516321318423-f06f85e504b3?q=80&w=1200') center/cover;
  height:350px;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  text-align:center;
}

.hero h1{
  background:rgba(0,0,0,0.6);
  padding:20px;
  border-radius:10px;
  font-size:40px;
}

/* Container */
.container{
  width:90%;
  max-width:1100px;
  margin:auto;
  padding:40px 0;
}

/* Sections */
.section{
  margin-bottom:40px;
  background:white;
  padding:30px;
  border-radius:10px;
  box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.section h2{
  color:#0d47a1;
  margin-bottom:15px;
}

ul{
  margin-left:20px;
}

/* Tips Cards */
.tips{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.card{
  background:#e3f2fd;
  padding:20px;
  border-radius:10px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
  background:#bbdefb;
}

/* Footer */
footer{
  background:#0d47a1;
  color:white;
  text-align:center;
  padding:20px;
  margin-top:40px;
}

/* Button */
button{
  background:#0d47a1;
  color:white;
  border:none;
  padding:12px 25px;
  border-radius:8px;
  cursor:pointer;
  margin-top:15px;
  font-size:16px;
  transition:0.3s ease;
}

button:hover{
  background:#1976d2;
  box-shadow:0 0 10px #42a5f5,
             0 0 20px #42a5f5,
             0 0 40px #42a5f5;
  transform:scale(1.05);
}

button:focus,
button:active{
  outline:none;
  box-shadow:0 0 15px #90caf9,
             0 0 30px #64b5f6,
             0 0 50px #2a0cb1;
}

/* Message */
#message{
  margin-top:15px;
  color:green;
  font-weight:bold;
}